key,type,encoding,value
config,namespace,,
wifi_ssid,data,string,NombreDeRed
wifi_pass,data,string,ContraseñaWiFi
mqtt_uri,data,string,mqtt://192.168.1.100:1883
unit_id,data,string,00000000-0000-0000-0000-000000000100
api_key,data,string,sim-001-api-key-dev-only-replace-in-production
